.nav{
    height: 100vh;
    width: 18%;
    background-color: #040440;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-links-container{
    padding: 1rem;
}
.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: larger;
}
.heading-container h3{
    margin-left: 0.5rem;
    font-weight: 600;
}

.nav-link-container{
    display: flex;
    justify-content: space-between;
    padding:.6rem;
    margin: 0.5rem 0;
    color: #74799b;
}
.nav-link-container  span{
    margin-left: .5rem;
}

.active-nav-link{
    color: white;
    background-color: #2d2d69;
    border-radius: .5rem;
}
.profile-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding:.6rem;
    margin: 1rem;
    color: #74799b;
    margin-bottom: 4rem;
}
.username, .position{
    width: 100%;
    text-align: left;
    font-size: small;
}
.profile-info{
    display: flex;
    gap: .5rem;

}
.username{
    color: white;
}
.logo{
    background-color: white;
    border-radius: 2rem;
    width: 2rem;
    padding: 1rem .5rem;
}